<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Dashboard</title>
</head>
<body>

    <section class="hero is-danger">
        <nav class="">
            <h2>Your top ten</h2>
            <a href="/index">Anime top ten</a>
        </nav>
    </section>

    <div class="box">
        <!-- <h1>JavaScript Arrays</h1>
        <h2>The forEach() Method</h2>
        
        <p>Call a function once for each array element:</p> -->
        
        <selection id="demo"></selection>
        <br>
        <div id="demo2"></div>
  
         
        <!-- <select id="v">
            <option>
                number 1
            </option>
        </select> -->
    </div>
    <div class="box">
        
    </div>
        <script>
            const numbers = [1, 2, 3, 4, 5,];
            
            let txt = "";
            
            numbers.forEach(myFunction);
            document.getElementById("demo").innerHTML = txt
            
            function myFunction(value, index, array) {
            txt += "<select><option>"+"number " + value+ "</option></select>" + "<br>"; 
            }
            let txt2 = "";
            const numbers2= [6, 7, 8, 9, 10];
            numbers2.forEach(myFunction2);
            document.getElementById("demo2").innerHTML = txt2
            
            function myFunction2(value, index, array) {
            txt2 += "<select><option>"+"number " + value+ "</option></select>" + "<br>";
            }
        </script>
</body>
</html>