<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Dashboard</title>
</head>
<body>

    <section class="hero is-danger">
        <nav class="">
            <h2>Your top ten</h2>
            <a href="/index" class="button">Anime top ten</a>
        </nav>
    </section>

    <div class="box">
       <selection class="section">
            <table class="table">
                    <thead>
                        <th>name</th>
                        <th>actions</th>
                    </thead>
                    <tbody class="tbody">
                    {% for anime in animes %}
                        <tr class="tr" name= "id" value={{anime.id}} for="id">{{anime.name}}</tr>
                        <tr class="tr">
                            <a href="/vote/{{anime['id']}}">vote</a>
                            <a href="animes/edit/{{anime['id']}}">Edit</a>
                            <a href="/animes/destroy/{{anime['id']}}">Delete</a>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </selection>
        <br>
        <div id="demo2" class="section"></div>
        
    </div>
    <div class="box">
        <a href="/anime/new"> new anime<a>
            <a href="/logout">logout<a>
    </div>
        
    <!-- <h1>JavaScript Arrays</h1>
    <h2>The forEach() Method</h2>
    
    <p>Call a function once for each array element:</p> -->
    <!-- <script>
        const numbers = [1, 2, 3, 4, 5,];
        
        let txt = "";
        
        numbers.forEach(myFunction);
        document.getElementById("demo").innerHTML = txt
            
            function myFunction(value, index, array) {
            txt += "<select><option>"+"number " + value+ "; 
            }
            let txt2 = "";
            const numbers2= [6, 7, 8, 9, 10];
            numbers2.forEach(myFunction2);
            document.getElementById("demo2").innerHTML = txt2
            
            function myFunction2(value, index, array) {
            txt2 += "<select><option>"+"number " + value+ "</option></option>{% for dojo in all_dojos %}<option value={{dojo.id}}>{{dojo.name}}</option>{% endfor %} </select>" + "<br>";
            }
        </script> -->
</body>
</html>